ul {
	margin: auto;
	padding: 0;
	background-color: #ccc;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	width: min-content;
}

li {
	display: block;
}

li a {
	display: flex;
	color: #404040;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}

li a:hover {
	background-color: #555;
	color: white;
	border-radius: 5px;
}

html, body {
	background: #fff;
	text-align: center;
	font-family: Arial;
}

body {
	display: block;
	vertical-align: middle;
}

#quiz {
	display: block;
}

#quiz h1 {
	color: #404040;
	font-weight: 600;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 44px;
	border-top: 2px solid #404040;
	border-bottom: 2px solid #404040;
}

#quiz button {
	margin-top: 20px;
	background: #fff;
	color: #404040;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border: 2px solid #fff;
	border-radius: 5px;
}

#quiz button:hover {
	background: #404040;
	color: #fff;
}

#quiz button:disabled {
	opacity: 0.5;
	background: #fff;
	color: #404040;
	cursor: default;
}

#question {
	padding: 20px;
	background: #fff;
	text-align: center;
}

#question h2 {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 20px;
}

#question input[type=radio] {
	display: none;
}

#question label {
	display: inline-block;
	margin: 4px;
	padding: 8px;
	background: #ccc;
	color: #404040;
	width: calc(50% - 8px);
	min-width: 50px;
	cursor: pointer;
	border-radius: 5px;
}

#question label:hover {
	background: #404040;
	color: #fff;
}

#question input[type=radio]:checked + label {
	background: #F7CB45;
	color: #404040;
}

#question .checkAnswer {
	background: #4EB265 !important;
	color: #404040;
}

#quiz-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FAFAFA;
}

#quiz-results-message {
	display: block;
	color: #00403C;
	font-size: 20px;
	font-weight: bold;
}

#quiz-results-score {
	display: block;
	color: #31706c;
	font-size: 20px;
}

#quiz-results-score b {
	color: #00403C;
	font-weight: 600;
	font-size: 20px;
}

#quiz-retry-button {
	float: left;
	background: #9ACFCC;
	color: #00403C;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}